*{padding:0; margin: 0;}

.navigation{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.navigation ul{
  list-style-type: none;
  overflow: hidden;
}

.navigation li{
  float: right;
}

.navigation li a{
  display: block;
  font-weight: bold;
  color: #191919;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: #C60021;
}

hr.rounded{
	border-top: 4px solid #C60021;
	border-radius: 1px;
}
